certifi==2022.5.18.1
charset-normalizer==2.0.12
idna==3.3
pydantic==1.9.1
pygismeteo==4.0.1
pygismeteo-base==2.2.0
pyTelegramBotAPI==4.5.1
requests==2.27.1
schedule==1.1.0
typing-extensions==4.2.0
urllib3==1.26.9
